.container_a{
    width: 1200px;
    margin:0 auto;
}
i{
    font-style: normal;
}
.header_nav{
    padding:10px 0 15px;
    overflow: hidden;
    /*position: fixed;*/
    position: absolute;
    top:0;
    left:0;
    right:0;
}
.header_nav a{
    font-weight: bold;
}
.logo{
    float: left;
}
a:hover{
    text-decoration: none;
}
a{
    color: #000;
    /*font-weight: bold;*/
}
.header_nav .nav_lists{
    float: right;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
}
.header_nav span{
    color: #000;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    display: inline-block;
}
.nav_item a{
    display: inline-block;
    padding:2px 0;
    height: 22px;
    line-height: 22px;
}
.header_nav .nav_lists .nav_item{
    float: left;
    height: 40px;
    line-height: 40px;
    padding:0 15px;
}
#position{
    margin-right: 50px;
    height: 42px;
}

#login{
    background-color: #E94840;
    padding:2px 6px;
    border-radius: 6px;
    color: #fff;
}
.content{
    height: 420px;
    margin-top: 67px;
    /*background-color: #E3F5FF;*/
}
/*#myCarousel{*/
    /*position: relative;*/
    /*width:100%;*/
/*}*/
.content .wrap  .content-carousel {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: -1;
}
.container_nav{
    height: 420px;
    padding:0 20px;
    width: 180px;
    position: absolute;
    color: #fff;
    background-color: #757881;
    top: 67px;
    margin-left: 20%;
}
.container_nav .nav_name{
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 16px;
    /*position: relative;*/
    font-weight: bold;
    cursor: pointer;
    padding-left: 45px;
}
.container_nav .nav_name a{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}
.nav_name a i {
    margin-right: 15px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    width: 70px;
    font-style: normal;
    text-align: justify;
    text-align-last: justify;
}
.nav_name .nav-list{
    position: absolute;
    top: 0;
    display: none;
    background-color: rgba(255,255,255,0.7);
    width: 160px;
    left: 180px;
}
.nav_name .nav-list li {
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    padding-left: 45px;
}
 .content .container_nav .nav.name img{
    position: absolute;
    right:0;
}
.content_a{
    margin:0 auto;
    width: 1200px;
}
.container_b{
    width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    clear: both;
}
.col-wrap{
    text-align: right;
}
.white{
    background-color: #fff;
}
.col-head{
    text-align: center;
    font-size: 22px;
}
.col-head p{
    margin-top: 15px;
    color: #3d3838;
    font-size: 22px;
}
.col-head h2{
    height: 31px;
    color: #3d3838;
    font-weight: 800;
    font-size: 28px;
    font-family: "Microsoft YaHei";
}
.col-head .more{
    margin-top: -13px;
    text-align: right;
}
.content_a .content_b.col-head .more a{
    color: #eee;
    font-size: 14px;
    font-weight: 200;
}
.col-content{
    margin-top: 25px;
}
.col-content .pic{
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    width:230px;
    border:1px solid #eaeaea;
    margin: 0 5px;
    background: #fff;
    height: 345px;
    cursor: pointer;
}
.col-content .pic:hover{
    box-shadow: 5px 5px 15px 0 #ccc;
}
.col-content img{
    width:100%;
}
.col-content .serviceName{
    font-size: 16px;
    padding: 10px 0 0;
    font-weight: 700;
    height: 28px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.col-content .description{
    text-align: left;
    color: #929292;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: 13px;
    line-height: 18px;
    /*margin-bottom: 15px;*/
}
.col-content .price{
    color: #e94840;
    padding: 0 5px;
    line-height: 24px;
    display: flex;
    font-size: 15px;
    font-weight: bold;
    justify-content: space-between;
}
.btn{
    display: inline-block;
    height: 24px;
    font-size: 13px;
    line-height: 24px;
    padding: 0 10px;
    margin-top: 10px;
    border-radius:5px;
}
.btn-danger{
    background-color: #e94840;
    color: #fff;
}

.col-content .price span>span{
    font-size: 20px;
}
.price span{
    margin-top: 10px;
}
.baozhang {
    text-align: center;
    width: 100%;
    padding-top: 60px;
    background: #fff;
    clear: both;
}
#baozhang h2 {
    font-size: 28px;
    font-family: "微软雅黑";
    font-weight: 800;
}
.baozhang p{
    margin-top: 10px;
}
#baozhang h2 i {
    color: #fb474f;
    font-size: 28px;
    font-weight: 800;
}
.baozhang .ticket-wrap{
    width: 100%;
    padding-top: 68px;
    background: #fff;
    height: 150px;
    font-family: "微软雅黑";
    text-align: center;
    width: 850px;
    margin: 0 auto;
}
.ticket{
    width: 280px;
    display: inline-block;
    float: left;
    text-align: center;
    color: #1d1515;
    font-size: 18px;
}
#baozhang p {
    font-size: 20px;
    color: #3d3838;
    margin: 0;
    margin-top: 10px;
}
.cities{
    width: 1200px;
    margin: 0 auto;
}
.city-list .clear{
    width: 100%;
    clear: both;
    padding-top: 50px;
    height: 160px;
    background: #fff;
}
.footer city-list dt {
    float: left;
    font-family: " 微软雅黑";
}
.footer city-list dd i {
    font-size: 16px;
    color: #898989;
    display: inline-block;
    width: 9%;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
    font-family: "微软雅黑";
}
.cities .container_c dd{
    margin-left: 40px;
    width: 1100px;
    line-height: 30px;
    float: left;
}
}